---


---
<div class="mt-6 overflow-hidden bg-white rounded-lg dark:bg-gray-800">
    <div class="w-full overflow-x-auto">
        <table class="w-[85%] mx-auto whitespace-nowrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 dark:text-gray-400 uppercase border-b dark:border-gray-700 bg-gray-50 dark:bg-gray-900">
                    <th class="px-4 py-3">Check</th>
                    <th class="px-20 py-3">Description</th>
                    <th class="px-4 py-3">Status</th>
                    <th class="px-4 py-3">Action</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:divide-gray-600 dark:bg-gray-800">
                <tr class="text-gray-700 dark:text-gray-400">
                    
                    <td class="px-3 py-3">
                        
                        <input type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded">
                    </td>
                    <td class="px-20 py-3">
                        allllllllllll										
                    </td>
                    <td class="px-4 py-3">
                        <span class="px-2 py-1 text-xs font-semibold text-green-600 bg-green-100 rounded-full">Active</span>
                    </td>
                    <td class="px-4 py-3">
                        <div class="flex items">
                            <button class="px-3 py-1 text-xs text-gray-700 bg-white border rounded-lg dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
                                <span>E</span>
                            </button>
                            <button class="px-3 py-1 text-xs text-gray-700 bg-white border rounded-lg dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
                                <span>X</span>
                            </button>
                        </div>
                    </td>
                </tr>

                
            </tbody>
        </table>
    </div>
</div>